html {
    scroll-behavior: smooth;
}

.pulse {
    width: 100%;
    height: 100%;
    animation: pulse 1s alternate infinite;
}

@keyframes pulse {
    0% {
        background-color: #E2DFE6;
        color: #E2DFE6;
    }
    100% {
        background-color: #ccc9cf;
        color: #ccc9cf;
    }
}

.filepond--panel-root,
.filepond--item-panel {
    border-radius: 4px;
}
main {
    overflow-x: hidden;
}