html {
    scroll-behavior: smooth;
}

.pulse {
    width: 100%;
    height: 100%;
    animation: pulse 800ms alternate ease-in-out infinite;
}
.pulse-icon {
    animation: pulse2 800ms alternate ease-in-out infinite;
}

@keyframes pulse {
    0% {
        background-color: #504e5200;
        color: #504e5200;
    }
    100% {
        background-color: #504e52ff;
        color: #504e52ff;
    }
}
@keyframes pulse2 {
    0% {
        color: #504e5200;
    }
    100% {
        color: #504e52ff;
    }
}

.filepond--panel-root,
.filepond--item-panel {
    border-radius: 4px;
}
main {
    overflow-x: hidden;
}